/* pt-mono - latin_cyrillic */
@font-face {
  font-family: "PTMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("PTMono"),
    url("./fonts/pt-mono.woff2") format("woff2"), /* Super Modern Browsers */
    url("./fonts/pt-mono.woff") format("woff"), /* Modern Browsers */
}

/* Modal windows */

.modal__inner,
.modal-success__inner {
  display: flex;
  position: relative;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background-color: white;
}

.modal__inner {
  max-width: 460px;
}

.modal-success__inner {
  max-width: 580px;
}

.modal,
.modal-success {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.modal__data {
  display: flex;
  flex-direction: column;
  max-width: 490px;
  padding: 33px 40px 36px;
  position: relative;
}

.modal__header,
.modal__text {
  margin-top: 0;
  color: black;
  text-align: left;
}

.modal__header {
  margin-bottom: 20px;
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 28px;
  line-height: 39px;
  color: black;
}

.modal__text {
  font-size: 16px;
  line-height: 22px;
  max-width: 460px;
  color: black;
}

.modal__form input {
  padding: 16px;
  padding-left: 5px;
  margin-bottom: 30px;
  min-width: 380px;
  background-color: white;
  border: 0;
  color: green;
}

.modal__form input::placeholder {
  font-size: 16px;
  line-height: 21px;
}

.modal__button {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: 1px solid black;
  padding: 14px 45px;
  cursor: pointer;
  margin-bottom: 34px;
}

.modal__button:hover,
.modal__button:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.modal__button:disabled {
  opacity: 0.5;
}

.modal-success__title {
  display: flex;
  align-items: center;
  max-width: 860px;
  flex-direction: column;
  padding: 25px;
}

.modal-success__text {
  color: black;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-success__image {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.modal__close,
.modal-success__close {
  position: absolute;
  top: 20px;
  right: 37px;
  width: 30px;
  height: 25px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.modal__close:hover,
.modal-success__close:hover,
.modal__close:focus,
.modal-success__close:focus {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.modal input:hover,
.modal input:focus {
  opacity: 0.5;
}

.modal__label {
  position: relative;
}

.modal__label::after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 5px;
  right: 0;
  max-width: 364px;
  border-bottom: 1px solid grey;
}

/* Media */

@media (max-width: 1023px) {
  .modal__inner,
  .modal-success__inner {
    justify-content: center;
    max-width: 520px;
  }

  .modal__data {
    padding: 30px;
    max-width: 520px;
  }

  .modal__text {
    font-size: 16px;
    line-height: 22px;
  }

  .modal__form input {
    min-width: 440px;
  }

  .modal__close {
    right: 21px;
    top: 41px;
  }

  .modal__label::after {
    max-width: 460px;
  }
}

@media (max-width: 767px) {
  .modal__inner,
  .modal-success__inner,
  .modal__data,
  .modal__label::after,
  .modal__text {
    max-width: 100%;
  }

  .modal__form {
    width: 100%;
  }

  .modal__data {
    padding: 10px;
  }

  .modal__form input {
    min-width: 100%;
  }

  .modal__close {
    top: 21px;
  }
}

.modal__animation {
  animation-name: bounce;
  animation-duration: 0.6s;
}

/* Animation */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Main */

.main__inner {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.main__button {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 14px 45px;
  cursor: pointer;
  position: relative;
}

.main__button:hover,
.main__button:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Container */

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:link {
  color: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.include {
  display: none;
}

.page__button {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 14px 45px;
  cursor: pointer;
  margin-bottom: 34px;
}

.page__button:hover,
.page__button:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}
